.container
    .row
        .col-md-4.col-md-push-6
            div.list-group(data-ng-controller='NavCtrl')
                .list-group-item
                    strong Nested menu
                a.list-group-item(ui-sref='user.private.home', ui-sref-active="active") Nested view
                a.list-group-item(ui-sref='user.private.nested', ui-sref-active="active") Another nested view
                a.list-group-item(ui-sref='user.private.admin', ui-sref-active="active", data-access-level='accessLevels.admin') A nested admin view
        .col-md-6.col-md-pull-4(data-ui-view)